.tray {
  width: 370px;
  height: 210px;
  transform: translate(0px, -40px);
  position: relative;
  background-image: url("/assets/items/tray.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
