.michael {
  position: absolute;
  bottom: 242px;
}

.middle {
  right: 40%;
}

.left {
  left: 14%;
}

.animate {
  animation: breathe 2s infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1699px) {
  .left {
    left: 10%;
  }
}

@media (max-width: 1599px) {
  .left {
    left: 8%;
  }
}

@media (max-width: 1399px) {
  .left {
    left: 5%;
    bottom: 235px;
  }
}
