.michael {
  position: absolute;
  bottom: 202px;
  width: clamp(15rem, -1.484rem + 32.97vw, 28.188rem);
}

.middle {
  right: 40%;
  bottom: 162px;
}

.left {
  left: 14%;
  bottom: 162px;
}

.animate {
  animation: breathe 2s infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1699px) {
  .left {
    left: 10%;
  }
}

@media (max-width: 1599px) {
  .left {
    left: 8%;
  }
}

@media (max-width: 1399px) {
  .left {
    left: 5%;
    bottom: 185px;
  }
}
