@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.registration_container{
    background-image: url("../../assets/ночной\ автобус2_Монтажная\ область\ 1\ копия\ 1.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.registration_container1{
    background-image: url("../../assets/экран\ водителя\ 01_Монтажная\ область\ 1\ копия\ 8\ 1.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.registration_container2{
    background-image: url("../../assets/ночной\ автобус10-44\ 1.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.registration_container3{
    background-image: url("../../assets/ночной\ автобус9-32\ 1.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.registration_container4{
    background-image: url("../../assets/водит_Монтажная\ область\ 1\ копия\ 1.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.cat{
    background-image: url("../../assets/Кот\ Статус\ эмоции\ \(3\).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    min-height: 60vh;
    min-width: 22vw;
    left:0;
    bottom:0;
}
.nastavnik{
    background-image: url("../../assets/мужской.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    min-height: 60vh;
    min-width: 22vw;
    right:0;
    bottom:0;
}
.verticalCat{
    background-image: url("../../assets/Кот\ Статус\ эмоции\ \(3\).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    min-height: 60vh;
    min-width: 22vw;
    transform: scale(-1, 1);
    right:0;
    bottom:0;
}
.catSmiling{
    background-image: url("../../assets/Кот\ Статус\ эмоции\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    min-height: 60vh;
    min-width: 22vw;
    left:0;
    bottom:0;
}
.settings{
    background-image: url("../../assets/интерфейс_Монтажная\ область\ 1\ \(1\).png");
    position:absolute;
    right:0px;
    top:0px;
    margin-top: 20px;
    margin-right: 40px;
    width: 80px;
    height: 80px;
}
.bubble{
    position: absolute;
    bottom: 0;
    left:0;
    margin-left: 60px;
    width:92vw; 
    height:221px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 21px;
    border: 3px solid black;
}
.bubble1 {
    content: '';
    position: absolute;
    height:79px;
    width:215px;
    top: -66px;
    left: 20%;
    background-image: url("../../assets/photo_2024-09-29_17-07-35.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -13px;
    margin-top: -13px;
}
.bubble2{
    content: '';
    position: absolute;
    height:79px;
    width:215px;
    top: -66px;
    left: 70%;
    background-image: url("../../assets/photo_2024-09-29_17-07-35.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -13px;
    margin-top: -13px;
    transform: scale(-1, 1);
}
.status{
    margin: 0px;
}
.statusDiv{
    background-color: rgba(98, 159, 66, 1);
    border-radius: 10px;
    width:132px;
    height:46px;
    position: absolute;
    top:0px;
    left:0px;
    margin-left: 87px;
    margin-top: 72vh;
    border: 3px solid black;
    justify-content: center;
    display: flex;
}
.status{
    font-family: Open-sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:white;
    margin: 7px;
}
.introPage{
    margin-left: 25px;
    font-family: Open-sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    width: 70vw;
    margin-top: 39px;
}
.nextPage{
    background-image: url("../../assets/стрелка\ \(1\).png");
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42px;
    height:42px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.introPageElement{
    font-family: Open-sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    margin: 0px;
}
.introPageElementBold{
    font-family: Open-sans;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    margin: 0px;
}
.textDiv{
    margin-left: 25px;
    font-family: Open-sans;
    font-weight: 400;
    line-height: 40px;
    width: 70vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 34px;
}
.miniTextDiv{
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Open-sans;
    font-weight: 400;
    line-height: 40px;
    width: 70vw;
    margin: 0px;
}
