.dialogueWrapper {
  position: relative;
  bottom: 20px;
  width: 1320px;
  /* bottom: 60px; */
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* left: 60px; */
}

.right {
  background-image: url("/assets/dialogue-frame/dialogue-frame-right.svg");
}

.left {
  background-image: url("/assets/dialogue-frame/dialogue-frame-left.svg");
}

.dialogue {
  position: relative;
  padding: 115px 30px 10px;
  width: 100%;
  height: 100%;
}

.label {
  position: absolute;
  padding: 5px 20px;
  width: fit-content;
  border: 3px solid #231f20;
  border-radius: 12px;
  background-color: #629f42;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  top: 60px;
  right: 25px;
}

.labelSecondary {
  left: 25px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nextBtn {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.playBtn {
  padding: 7px 20px;
  font-size: 28px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #629f42;
  position: absolute;
  bottom: 15px;
  right: 44px;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 24px;
  font-weight: 400;
  z-index: 10;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 16px;
}
