.breadContainer {
  position: absolute;
  width: 360px;
  height: 202px;
  right: 90px;
  bottom: 100px;
  background-image: url("/assets/items/bread-container.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.breadContainerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
