.choise__row {
  min-height: 456px;
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  border: solid 1px #000000;
  width: clamp(20.5rem, 19rem + 6.67vw, 25rem);
}
.choise__col {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.choise__text {
  font-size: 24px;
  margin-bottom: 0;
}
.choise__input_text {
  font-size: 14px;
  width: 80%;
}
.choise__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.choise__input_field {
  height: 48px;
  border-style: none;
  padding-bottom: 5px;
  outline: none;
}
.choise__input_field_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  justify-content: space-between;
  width: 320px;
  height: 48px;
  border-radius: 12px;
  padding-inline: 20px;
  border: solid 1px #bfbfbf;
}
.choise__input_field::placeholder {
  color: #bfbfbf;
}
.choise__button {
  width: 320px;
  height: 48px;
  border-style: none;
  border-radius: 12px;
  background-color: #629f42;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
}
.choise__button:hover {
  background-color: #416f2a;
  transition: all 0.3s ease;
}
.choise__show {
  cursor: pointer;
}
.choise_btn_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.choise_btn {
  width: 143px;
  height: 48px;
  border-radius: 12px;
  border: solid 1px #231f20;
  background-color: #fff;
}
.choise_btn:hover {
  background-color: #565554;
  color: #fff;
}
