.nightBusContainer {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
}

.nightBusIntro {
  background-image: url("/assets/background/background-night-bus-intro.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

/* .nightBusEntryBackground {
  position: relative;
  overflow: hidden;
  width: 1163px;
  height: 725px;
} */

.nightBusEntryBackgroundImage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width:77vw; 
}

.nightBusStory {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 110px;
  transform: translateZ(-50px);
  perspective: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.background1 {
  background-image: url("/assets/background/background-night-bus-intro.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.background2 {
  background-image: url("/assets/background/background-intro.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.nightBusGame {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
}

.nightBusGameIntro {
  background-image: url("/assets/background/background-intro.svg");
  display: flex;
  justify-content: center;
  align-items: end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.nightBusGamePlay {
  background-image: url("/assets/background/background-night-bus-game.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.finalResult {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nightBusGameEnd {
  flex-direction: row;
  align-items: end;
}
@media(max-width:1400px){
  .nightBusEntryBackgroundImage {
    top:50vh;
  } 
}
@media(max-width:1100px){
  .nightBusEntryBackgroundImage {
    top:60vh;
  } 
}